@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
/* Use  -  Pixelify Sans  -  to target font */

html, body {
  font-family: Pixelify Sans;
  background-color: #1c2124;
  color: #fff;
  display: flex;
  justify-content: center;
  width: 100vw;
}

h1 {
  align-self: center;
}

button {
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.todotracker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  max-width: 455px;
  margin-bottom: 12px;
  border-radius: 16px;
}

.todotracker div {
  padding: 0px 0px 10px 0px;
}

.todotracker div:last-child {
  background: linear-gradient(#2953af, #1a276e);
  width: 500px;
  border: 3px solid #ffffff;
  border-radius: 16px;
  font-size: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form {
  align-self: center;
  display: flex;
  align-items: center;
  gap: 12px;
}

.form input {
  border: 3px solid #ffffff;
  background-color: #282e36;
  color: white;
  height: 50px;
  width: 375px;
  border-radius: 16px;
  padding: 12px;
}

.form button {
  font-family: Pixelify Sans;
  color: white;
  width: 90px;
  height: 80px;
  background: linear-gradient(#2953af, #1a276e);
  border: 3px solid #ffffff;
  border-radius: 16px;
}

.edit-task-form {
  background-color: #282e36;
  border: 3px solid #ffffff;
  border-radius: 10px;
  color: #fff;
  text-align: center;
}

.form button:hover {
  color: antiquewhite;
  font-size: 17px;
}

.button-container {
  display: flex;
  justify-content: start;
  gap: 5px;
}

.list {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  list-style-type: none;
}

.list-item  {
  max-width: 500px;
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.list-item:hover {
  font-weight: bold;
  color: antiquewhite;
}

strike {
  color: rgb(57, 192, 245);
  
}

strike:hover {
  font-weight: bold;
}

.list-item button {
  font-family: Pixelify Sans;
  color: white;
  width: 75px;
  height: 40px;
  border-radius: 10px;
  background: linear-gradient(#2953af, #1a276e);
  border: 3px solid #ffffff;
}

.list-item button:hover {
  color: antiquewhite;
  font-size: 14px;
}

.help-text {
  text-align: center;
}


/* layout for mobile */
@media (max-width: 480px) {
  .form {
    flex-direction: column;
    gap: 6px;
  }

  .form input {
    width: 200px;
  }

  .form button {
    width: 230px;
    height: 60px;
  }

  .list {
    width: 100%;
  }
  
  .list-item {
    font-size: 18px;
    padding: 16px;
  }

  .list-item button {
    width: 35%;
    font-size: 12px;
  }

  .todotracker div:last-child {
    font-size: 24px;
    width: 100%;
    padding: 3px;
  }
}
